{
  "openapi": "3.0.1",
  "info": {
    "title": "Autumn API",
    "description": "API to interact with Autumn",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.useautumn.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": [
        "Authorization"
      ]
    }
  ],

  "paths": {
    "/attach": {
      "post": {
        "description": "Attach a product to a customer",
        "requestBody": {
          "description": "Device to attach",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer_id": {
                    "type": "string",
                    "description": "ID which you provided when creating the customer"
                  },
                  "product_id": {
                    "type": "string",
                    "description": "This can be found on the product page"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device attached"
          }
        }
      }
    },
    "/customers": {
      "post": {
        "description": "Create a new customer",
        "requestBody": {
          "description": "Customer to create",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "id",
                  "name"
                ],
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Unique identifier of the customer as provided by you"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the customer"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email of the customer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created"
          }
        }
      }
    },
    "/events": {
      "post": {
        "description": "Send an event to Autumn",
        "requestBody": {
          "description": "Event to send",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer_id",
                  "event_name",
                  "timestamp"
                ],
                "properties": {
                  "customer_id": {
                    "type": "string",
                    "description": "ID which you provided when creating the customer"
                  },
                  "event_name": {
                    "type": "string",
                    "description": "Name of the event"
                  },
                  "idempotency_key": {
                    "type": "string",
                    "description": "Unique identifier for the event. If the same event is sent multiple times, it will be ignored."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event sent"
          }
        }
      }
    },
    "/entitled": {
      "get": {
        "description": "Check if a customer has access to a feature",
        "parameters": [
          {
            "name": "customer_id",
            "in": "query",
            "description": "ID which you provided when creating the customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feature_id",
            "in": "query",
            "description": "ID of the feature to check access to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "Quantity of the feature end user is consuming. By default, the feature is considered to be consumed at 1 unit.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer has access to the product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allowed": {
                      "type": "boolean",
                      "description": "Whether the customer has access to the feature"
                    },
                    "balances": {
                      "type": "array",
                      "description": "Balances of this feature / credits using this feature for the customer",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID of the feature"
                          },
                          "balance": {
                            "type": "integer",
                            "description": "Balance of the feature"
                          },
                          "required": {
                            "type": "integer",
                            "description": "Required amount of the feature"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Customer": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },


      
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}